<div class="d-flex justify-content-between align-items top-menu ">
  <!-- arena-img -->
  <div class="nav-item p-1 ml-2 cursor-pointer">
    <a href="home">
      <img src="assets/inncircles-arena-logo-tm.png" alt="inncircles-png" height="28" />
    </a>
  </div>
  <!-- Home -->
  <div class="nav-sections d-flex">
    <ul class="mt-3 nav-items p-0">
      <li class="nav-item">
        <div class="custom-dropdown-hh">
          <a class="custom-dropbtn nav-link text-center nav-text-color ml-2">Home</a>
        </div>
      </li>


      <!-- Products-Initial-->

      <li class="nav-item menu-format">
        <div class="custom-dropdown cust-drop w-100">
          <a href="#"
            class=" custom-dropdown-hh custom-dropbtn nav-link text-center nav-text-color d-flex menu-products">
            <span class="pl-1">Products</span>
            <!-- <div class="ml-auto">
              <span class="material-icons md-36 d-md-none" style="transform: rotate(90deg)">
                chevron_right</span>
            </div> -->
          </a>
          <div
            class="custom-dropdown-fg custom-dropdown-content nav-text-color d-flex flex-column justify-content-center"
            style="left: 0">
            <!-- project-management  -->
            <div class="p-2 item ">
      <li class="menu-list">
        <span class="p-1">
          <img style="width: 20px; height: 20px" src="assets/product-management.svg" alt="product-management" />
        </span>
        <!-- Products-list -->
        <span class="p-1 " style="font-weight: 400">
          Project Management
        </span>
      </li>
  </div>
  <!-- quality-management -->
  <div class="p-2 item">
    <li>
      <span class="p-1">
        <img style="width: 20px; height: 20px" src="assets/quality-management.svg" alt="quality-management" />
      </span>
      <span class="p-1" style="font-weight: 400">
        Quality Management
      </span>
    </li>
  </div>
  <!-- safety-management -->
  <div class="p-2 item">
    <li>
      <span class="p-1">
        <img style="width: 20px; height: 20px" src="assets/safety-and-maintenance.svg" alt="safety-management" />
      </span>
      <span class="p-1" style="font-weight: 400">
        Safety Management
      </span>
    </li>
  </div>
  <!-- document-management -->
  <div class="p-2 item">
    <li>
      <span class="p-1">
        <img style="width: 20px; height: 20px" src="assets/document-management.svg" alt="doc-management" />
      </span>
      <span class="p-1" style="font-weight: 400">
        Document Management
      </span>
    </li>
  </div>
  <!-- field-management -->
  <div class="p-2 item">
    <li>
      <span class="p-1">
        <img style="width: 20px; height: 20px" src="assets/field_produc_icon.png" alt="field_produc_icon" />
      </span>
      <span class="p-1" style="font-weight: 400">
        Field Productivity
      </span>
    </li>
  </div>
  <!-- drawing-management -->
  <div class="p-2 item">
    <li>
      <span class="p-1">
        <img style="width: 20px; height: 20px" src="assets/drawing_manag_icon.png" alt="drawing_manag_icon" />
      </span>
      <span class="p-1" style="font-weight: 400">
        Drawing Management
      </span>
    </li>
  </div>
  <!-- sub contract management -->
  <div class="p-2 item">
    <li>
      <span class="p-1">
        <img style="width: 20px; height: 20px" src="assets/sub_contr_icon.png" alt="sub-contr" />
      </span>
      <span class="p-1" style="font-weight: 400">
        Sub Contract Management
      </span>
    </li>
  </div>
  <!-- procurement -->
  <div class="p-2 item">
    <li>
      <span class="p-1">
        <img style="width: 20px; height: 20px" src="assets/procurement_icon.png" alt="procurement_icon" />
      </span>
      <span class="p-1" style="font-weight: 400"> Procurement </span>
    </li>
  </div>
  <!-- data analytic -->
  <div class="p-2 item">
    <li>
      <span class="p-1">
        <img style="width: 20px; height: 20px" src="assets/data_analysis_icon.png" alt="data-analysis" />
      </span>
      <span class="p-1" style="font-weight: 400">
        Data & Analytics
      </span>
    </li>
  </div>
  <!--  -->
</div>
<div class="ml-auto">
  <li>
    <a href="#">
      <span class="material-icons md-36 d-md-none" style="transform: rotate(90deg)">chevron_right</span>
    </a>
  </li>
</div>
</div>
</li>
<!-- Products-end-->

<!-- impact -->
<li class="nav-item">
  <div class=" custom-dropdown-hh">
    <a class="custom-dropbtn nav-link text-center nav-text-color ml-2">impact</a>
  </div>
</li>
<!-- Contact -->
<li class="nav-item">
  <div class="custom-dropdown-hh">
    <a class="custom-dropbtn nav-link text-center nav-text-color ml-2">contact us</a>
  </div>
</li>
<button class="btn request-demo-button gradient-button rounded-4" style="height: 35px !important; border: radius 14px"
  selected (click)="generate()">
  <span class="text-white">Request Demo</span>
</button>
<!-- <mat-chip-list>
  <mat-chip color="accent" selected (click)="generate()" >Request Demo</mat-chip>
</mat-chip-list> -->
<!-- <button class="btn request-demo-button gradient-button rounded-4" style="height: 35px !important; border-radius: 14px">
  <span class="text-white">Request Demo</span>
</button> -->
<!-- inncircle-logo -->
<li>
  <div>
    <img class="inncircle-logo text-center" src="assets/inncircles-logo.png" alt="inncircles-logo" />
  </div>
</li>
</ul>
</div>
</div>
<!-- main -->
<main id="main" class="main bg-white" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none">
  <div class="scroll-content text">
    <div class="bg-white home-page">
      <section id="home" class="home-section w-100 position-relative">
        <div class="row mx-0">
          <div class="col-md-5 banner-container mob-logo">
            <img class="moblg" src="assets/home_landing_page_mobile.png" alt="inncircle-mobile" />
          </div>

          <div class="col-md-6 px-lg-4 text-primary d-flex flex-column justify-content-center"
            style="margin-left: 22rem">
            <div class="w-100 font-weight-500" style="max-width: 600px col-3 col-s-3">
              <div class="py-2">
                Residential | Commercial | Industrial | Infrstructure
              </div>
              <div class="hello-management">
                Say <span class="highlight-text font-weight">Hello</span> to the
                new age <br />
                <br />
                <br />
                Construction management <br />
                <br />
                <br />
                software
              </div>
              <br />
              <div class="digi-menu-header">
                <div class="d-flex point-box p-2 p-md-2 -p-lg-3">
                  <div>Digitalize the constructin process your way</div>
                </div>
                <div class="d-flex point-box p-2 p-md-2 -p-lg-3">
                  <div>No code platform to custom build your requirements</div>
                </div>
                <div class="d-flex point-box p-2 p-md-2 -p-lg-3">
                  <div>Plan,build and attack Advancedd Work Packages (AWP)</div>
                </div>
                <div class="d-flex align-items-center ml-4 m-md-auto">
                  <br />
                  <button class="btn request-demo-button gradient-button rounded-4"
                    style="height: 35px !important; border: radius 14px" selected (click)="generate()">
                    <span class="text-white">Request Demo</span>
                  </button>
                  <span class="p-md-2">Know More
                    <span width="18" height="12">&#8594;</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--  -->
      <section id="products" class="container-fluid products-section container">
        <div class="row mt-md-5 pt-4 p-lgh-5 text">
          <div class="col-md-7 d-inline justify-content font-weight-500">
            <div class="gradient-text font-weight-1">PRODUCTS</div>
            <br />
            <br />
            <p class="font-medium font-weight-bold">
              <span class="highlight-text"> Reduce </span>

              <span>Operations overhead and boosts <br />
                <br />
                profits for owners, General Contractors, <br />
                <br />
                Speciality Contractors, Home Builders and <br />
                <br />
                Sub Contractors
              </span>
            </p>
            <!-- content-list  -->
            <div class="text-primary row mt-3">
              <div class="hovpm d-flex col-lg-6 col-md-6 col-sm-12 cursor-pointer justify-content-start  ">
                <div class="card my-2 d-flex flex-row justify-content-between align-items-center custom-drop-border">
                  <div class="d-flex p-2 justify-content-center align-items-center">
                    <div>
                      <img src="assets/product-management.svg" alt="product-management" />
                    </div>
                    <div class="d-flex align-self-center pl-3 font-small">
                      Project Management
                    </div>
                  </div>
                  <div class="d-flex arrow p-2 products-arrow align-self-start">
                    <img src="assets/up-arrow.svg" alt="up-arrow" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="d-flex col-lg-6 col-md-6 col-sm-12 cursor-pointer justify-content-start">
                <div class="card my-2 d-flex flex-row justify-content-between align-items-center  custom-drop-border">
                  <div class="d-flex p-2 justify-content-center align-items-center">
                    <div>
                      <img src="assets/quality-management.svg" alt="quality-management" />
                    </div>
                    <div class="d-flex align-self-center pl-3 font-small">
                      Quality Management
                    </div>
                  </div>
                  <div class="d-flex arrow p-2 products-arrow align-self-start">
                    <img src="assets/up-arrow.svg" alt="up-arrow" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="d-flex col-lg-6 col-md-6 col-sm-12 cursor-pointer justify-content-start">
                <div class="card my-2 d-flex flex-row justify-content-between align-items-center custom-drop-border">
                  <div class="d-flex p-2 justify-content-center align-items-center">
                    <div>
                      <img src="assets/safety-and-maintenance.svg   " alt="safety- maintanance" />
                    </div>
                    <div class="d-flex align-self-center pl-3 font-small">
                      Safety Management
                    </div>
                  </div>
                  <div class="d-flex arrow p-2 products-arrow align-self-start">
                    <img src="assets/up-arrow.svg" alt="up-arrow" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="d-flex col-lg-6 col-md-6 col-sm-12 cursor-pointer justify-content-start">
                <div class="card my-2 d-flex flex-row justify-content-between align-items-center custom-drop-border">
                  <div class="d-flex p-2 justify-content-center align-items-center">
                    <div>
                      <img src="assets/document-management.svg" alt="document-management" />
                    </div>
                    <div class="d-flex align-self-center pl-3 font-small">
                      Document Management
                    </div>
                  </div>
                  <div class="d-flex arrow p-2 products-arrow align-self-start">
                    <img src="assets/up-arrow.svg" alt="up-arrow" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="d-flex col-lg-6 col-md-6 col-sm-12 cursor-pointer justify-content-start">
                <div class="card my-2 d-flex flex-row justify-content-between align-items-center custom-drop-border">
                  <div class="d-flex p-2 justify-content-center align-items-center">
                    <div>
                      <img src="assets/field_produc_icon.png" alt="Field-prod" />
                    </div>
                    <div class="d-flex align-self-center pl-3 font-small">
                      Field Productivity
                    </div>
                  </div>
                  <div class="d-flex arrow p-2 products-arrow align-self-start">
                    <img src="assets/up-arrow.svg" alt="up-arrow" />
                  </div>
                </div>
              </div>
              <div class="d-flex col-lg-6 col-md-6 col-sm-12 cursor-pointer justify-content-start">
                <div class="card my-2 d-flex flex-row justify-content-between align-items-center custom-drop-border">
                  <div class="d-flex p-2 justify-content-center align-items-center">
                    <div>
                      <img src="assets/drawing_manag_icon.png" alt="drawin-management" />
                    </div>
                    <div class="d-flex align-self-center pl-3 font-small">
                      Drawing Management
                    </div>
                  </div>
                  <div class="d-flex arrow p-2 products-arrow align-self-start">
                    <img src="assets/up-arrow.svg" alt="up-arrow" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="d-flex col-lg-6 col-md-6 col-sm-12 cursor-pointer justify-content-start">
                <div class="card my-2 d-flex flex-row justify-content-between align-items-center custom-drop-border">
                  <div class="d-flex p-2 justify-content-center align-items-center">
                    <div>
                      <img src="assets/sub_contr_icon.png" alt="sub-contr" />
                    </div>
                    <div class="d-flex align-self-center pl-3 font-small">
                      Sub Contractor Management
                    </div>
                  </div>
                  <div class="d-flex arrow p-2 products-arrow align-self-start">
                    <img src="assets/up-arrow.svg" alt="up-arrow" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="d-flex col-lg-6 col-md-6 col-sm-12 cursor-pointer justify-content-start">
                <div class="card my-2 d-flex flex-row justify-content-between align-items-center custom-drop-border">
                  <div class="d-flex p-2 justify-content-center align-items-center">
                    <div>
                      <img src="assets/procurement_icon.png" alt="Procurement" />
                    </div>
                    <div class="d-flex align-self-center pl-3 font-small">
                      Procurement
                    </div>
                  </div>
                  <div class="d-flex arrow p-2 products-arrow align-self-start">
                    <img src="assets/up-arrow.svg" alt="up-arrow" />
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="d-flex col-lg-6 col-md-6 col-sm-12 cursor-pointer justify-content-start">
                <div class="card my-2 d-flex flex-row justify-content-between align-items-center custom-drop-border">
                  <div class="d-flex p-2 justify-content-center align-items-center ">
                    <div>
                      <img src="assets/data_analysis_icon.png" alt="data-analysis" />
                    </div>
                    <div class="d-flex align-self-center pl-3 font-small">
                      Data & Analytics
                    </div>
                  </div>
                  <div class="d-flex arrow p-2 products-arrow align-self-start">
                    <img src="assets/up-arrow.svg" alt="up-arrow" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- mobile image -->
          <div class="d-flex justify-content-center justify-content-lg-end align-items-center d-md-none py-4">
            <img src="assets/mobile.png" alt="mobileping" class="product-image" />
          </div>
          <!--  -->
        </div>
      </section>
      <!-- why us -->
      <section id="faster Deployement" class="conntainer-fluid products-section container">
        <div class="row pt-4 p-lg-5">
          <div class="col-md-5 d-flex justify-content-center align-items-center">
            <img src="assets/rocket.png" alt="speed" class="p-4 w-100 d-none d-md-block" />
          </div>
          <div class="col-md-7 d-inline justify-content-center">
            <div class="gradient-text font-weight-500">WHY US</div>
            <br /><br />
            <p class="font-weight-bold font-large text">
              <span class="highlight-text"> 5X </span> Faster Deployment
            </p>
            <!--  -->
            <div class="text-primary row mt-4">
              <div class="d-flex col-6 col-lg-4 col-md-4 col-sm-6 cursor-pointer justify-content-start mb-4">
                <div class="box-card d-flex p-2 jusify-content-center align-items-center">
                  <span>
                    <img src="assets/setting.png" alt="management-solution" width="78px" height="80px" />
                  </span>
                  <div class="d-flex align-self-center pt-3 font-weight-500">
                    A Complete Construction Management Solution
                  </div>
                  <div class="tick">
                    <img src="assets/check-tick.png" alt="tick" width="21" height="21" />
                  </div>
                </div>
              </div>
              <div class="d-flex col-6 col-lg-4 col-md-4 col-sm-6 cursor-pointer justify-content-start mb-4">
                <div class="box-card d-flex p-2 jusify-content-center align-items-center">
                  <span>
                    <img src="assets/project-form.png" alt="management-solution" width="78px" height="80px" />
                  </span>
                  <div class="d-flex align-self-center pt-3 font-weight-500">
                    Configuration of project Forms& Workflowss
                  </div>
                  <div class="tick">
                    <img src="assets/check-tick.png" alt="tick" width="21" height="21" />
                  </div>
                </div>
              </div>
              <div class="d-flex col-6 col-lg-4 col-md-4 col-sm-6 cursor-pointer justify-content-start mb-4">
                <div class="box-card d-flex p-2 jusify-content-center align-items-center">
                  <span>
                    <img src="assets/mobi-app.png" alt="management-solution" width="78px" height="80px" />
                  </span>
                  <div class="d-flex align-self-center pt-3 font-weight-500">
                    Field Management Mobile Apps (Online/Offline)
                  </div>
                  <div class="tick">
                    <img src="assets/check-tick.png" alt="tick" width="21" height="21" />
                  </div>
                </div>
              </div>
              <div class="d-flex col-6 col-lg-4 col-md-4 col-sm-6 cursor-pointer justify-content-start mb-4">
                <div class="box-card d-flex p-2 jusify-content-center align-items-center">
                  <span>
                    <img src="assets/awp.jpg" alt="management-solution" width="78px" height="80px" />
                  </span>
                  <div class="d-flex align-self-center pt-3 font-weight-500">
                    Advanced work packaging (AWP) Practices
                  </div>
                  <div class="tick">
                    <img src="assets/check-tick.png" alt="tick" width="21" height="21" />
                  </div>
                </div>
              </div>
              <div class="d-flex col-6 col-lg-4 col-md-4 col-sm-6 cursor-pointer justify-content-start mb-4">
                <div class="box-card d-flex p-2 jusify-content-center align-items-center">
                  <span>
                    <img src="assets/ai-cloud.png" alt="management-solution" width="78px" height="80px" />
                  </span>
                  <div class="d-flex align-self-center pt-3 font-weight-500">
                    AI, Cloud & SAAS Technology
                  </div>
                  <div class="tick">
                    <img src="assets/check-tick.png" alt="tick" width="21" height="21" />
                  </div>
                </div>
              </div>
              <div class="d-flex col-6 col-lg-4 col-md-4 col-sm-6 cursor-pointer justify-content-start mb-4">
                <div class="box-card d-flex p-2 jusify-content-center align-items-center">
                  <span>
                    <img src="assets/add-but.png" alt="management-solution" width="78px" height="80px" />
                  </span>
                  <div class="d-flex align-self-center pt-3 font-weight-500">
                    Integrations with Office 365, G-Suite and more
                  </div>
                  <div class="tick">
                    <img src="assets/check-tick.png" alt="tick" width="21" height="21" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--  -->
      <section id="unlimitedAdvantage" class="container-fluid products-section container">
        <div class="row pt-4 p-lg-5 text">
          <div class="col-md-7 d-inine justify-content-center">
            <div class="gradient-text font-weight-500">WHY US</div>
            <br /><br />
            <p class="font-weight-bold font-large">
              Get <span class="highlight-text">Unlimited</span>
              Advantage
            </p>
            <div class="text-primary row mt-4">
              <div class="d-flex col-6 col-lg-4 col-md-4 col-sm-6 cursor-pointer justify-content-start mb-4">
                <div class="box-card d-flex p-2 justify-content-center align-items-center">
                  <span>
                    <img src="assets/user.png" alt="unlimit" width="72" height="69" />
                  </span>
                  <div class="d-flex align-self-center pt-3 font-weight-500">
                    Unlimited Users
                  </div>
                  <div class="tick">
                    <span>
                      <img src="assets/check-tick.png" alt="tick" width="21" height="21" />
                    </span>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="d-flex col-6 col-lg-4 col-md-4 col-sm-6 cursor-pointer justify-content-start mb-4">
                <div class="box-card d-flex p-2 justify-content-center align-items-center">
                  <span>
                    <img src="assets/images.png" alt="" width="72" height="69" />
                  </span>
                  <div class="d-flex align-self-center pt-3 font-weight-500">
                    Unlimited Storage
                  </div>
                  <div class="tick">
                    <span>
                      <img src="assets/check-tick.png" alt="tick" width="21" height="21" />
                    </span>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="d-flex col-6 col-lg-4 col-md-4 col-sm-6 cursor-pointer justify-content-start mb-4">
                <div class="box-card d-flex p-2 justify-content-center align-items-center">
                  <span>
                    <img src="assets/my-mobi.png" alt="" width="72" height="69" />
                  </span>
                  <div class="d-flex align-self-center pt-3 font-weight-500">
                    No Setup Costs
                  </div>
                  <div class="tick">
                    <span>
                      <img src="assets/check-tick.png" alt="tick" width="21" height="21" />
                    </span>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="d-flex col-6 col-lg-4 col-md-4 col-sm-6 cursor-pointer justify-content-start mb-4">
                <div class="box-card d-flex p-2 justify-content-center align-items-center">
                  <span>
                    <img src="assets/user-set.png" alt="" width="72" height="69" />
                  </span>
                  <div class="d-flex align-self-center pt-3 font-weight-500">
                    No User Training Costs
                  </div>
                  <div class="tick">
                    <span>
                      <img src="assets/check-tick.png" alt="tick" width="21" height="21" />
                    </span>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="d-flex col-6 col-lg-4 col-md-4 col-sm-6 cursor-pointer justify-content-start mb-4">
                <div class="box-card d-flex p-2 justify-content-center align-items-center">
                  <span>
                    <img src="assets/support.png" alt="" width="85" height="69" />
                  </span>
                  <div class="d-flex align-self-center pt-3 font-weight-500">
                    Supprt 24/7
                  </div>
                  <div class="tick">
                    <span>
                      <img src="assets/check-tick.png" alt="tick" width="21" height="21" />
                    </span>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="d-flex col-6 col-lg-4 col-md-4 col-sm-6 cursor-pointer justify-content-start mb-4">
                <div class="box-card d-flex p-2 justify-content-center align-items-center">
                  <span>
                    <img src="assets/chain-con.png" alt="" width="72" height="69" />
                  </span>
                  <div class="d-flex align-self-center pt-3 font-weight-500">
                    Value Driven Pricing Models
                  </div>
                  <div class="tick">
                    <span>
                      <img src="assets/check-tick.png" alt="tick" width="21" height="21" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 d-flex justify-content-center align-items-center">
            <img src="assets/advantage.png" alt="advantage-logo" class="p-4 w-100 d-none d-md-block" />
          </div>
        </div>
      </section>
      <!--  -->
      <section id="impact" class="our-impact-section container-fluid container">
        <div class="row mx-0 pt-4 p-lg-5 flex-column-reverse flex-lg-row">
          <div class="col-lg-7 d-flex flex-column justify-content-around text-center shadow-card rounded-corners">
            <div class="d-flex justify-conent-center text">
              <div class="profile-card mt-4 mx-lg-3">
                <img src="assets/Person_1.png" alt="paul-img" width="80" height="80" />
                <div class="mt-2">
                  <div class="font-weight-bold">Paul Stokes</div>
                  <small>Owner</small>
                </div>
              </div>
              <!--  -->
              <div class="profile-card mt-4 mx-lg-3">
                <img src="assets/Person_2.png" alt="paul-img" width="80" height="80" />
                <div class="mt-2">
                  <div class="font-weight-bold">Joseph Williams</div>
                  <small>General Contractor</small>
                </div>
              </div>
              <!--  -->
              <div class="profile-card mt-4 mx-lg-3">
                <img src="assets/Person_3.png" alt="paul-img" width="80" height="80" />
                <div class="mt-2">
                  <div class="font-weight-bold">Betty Root</div>
                  <small>Sub Contractor</small>
                </div>
              </div>
              <!--  -->
            </div>
            <div class="text-center w-100 font-medium py-3 text">
              Impact so far..
            </div>
            <div class="impact-container">
              <div class="d-flex justify-content-center impact-card">
                <div class="d-flex flex-1 justify-content-end">
                  <div class="d-flex align-items-center">
                    <img src="assets/dollor.svg" alt="dollor" class="dollar-symbol" />
                  </div>
                  <!-- 750 -->
                  <div class="impact-numbers d-flex text">
                    <span>750</span>
                    <span>M</span>
                  </div>
                </div>
                <!--  -->
                <div class="d-flex flex-1 align-items-center ml-2 impact-text text">
                  Worth Projects
                  <br />
                  are work in progress
                </div>
              </div>
              <!--6200  -->
              <div class="row">
                <div class="col-lg-6">
                  <div class="d-flex justify-content-center impact-card">
                    <div class="impact-numbers d-flex flex-1 justify-content-end">
                      <span>6200</span>
                    </div>
                    <div class="d-flex flex-1 align-items-center ml-2 impact-text">
                      days of project
                      <br />
                      efforts saved
                    </div>
                  </div>
                </div>

                <!-- strt -->
                <div class="col-lg-6">
                  <div class="d-flex justify-content-center impact-card px-5">
                    <div class="d-flex flex-1 justify-content-end">
                      <div class="d-flex align-items-center">
                        <img src="assets/dollor.svg" alt="dollor" class="dollar-symbol" />
                      </div>
                      <!-- 65-M -->
                      <div class="d-flex impact-numbers">
                        <span>65</span>
                        <span>M</span>
                      </div>
                      <div class="d-flex align-items-center ml-2 impact-text flex-1">
                        worth <br />
                        saving
                      </div>
                    </div>

                    <!-- worth saving  -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 d-flex align-items-center">
            <div class="pt-4 p-lg-5">
              <div class="gradient-text font-weight-500">WHY US</div>
              <br /><br />
              <p class="font-large font-weight-bold text">
                <span class="highlight-text">Save</span>
                cost by <br /><br /><br />
                building <br /><br /><br />
                efficiency in <br /><br /><br />
                construnction <br /><br /><br />
                management
              </p>
            </div>
          </div>
        </div>
      </section>
      <!--  -->
      <!-- </section> -->
      <section id="testimonials" class="testimonials-section container-fluid container">
        <div class="pt-3 p-lg-5 mt-5 text">
          <div class="shadow-card rounded-corners position-relative">
            <img src="assets/quotes.svg" alt="quote" class="position-absolute quotes" />
            <div class="gradient-text font-weight-500 text-md-center w-100 pt-5 px-4 px-md-0">
              TESTIMONIALS
            </div>
            <h1 class="text-md-center font-weight-bold w-100 px-4 px-md-0">
              Why
              <span class="highlight-text">choose</span>
              us
            </h1>
            <div class="row mx-0 pt-5">
              <div class="col-md-6 p-lg-5 py-3 pt-lg-0">
                <div class="d-flex">
                  <div class="astrophy m-2 m-lg-3">
                    <img src="assets/quote.png" alt="quote-ping" width="29" height="26" viewbox="0 0 29 26"
                      fill="none" />
                  </div>
                  <div class="pr-3">
                    <div class="title font-weight-bold font-medium">
                      Robert Lebanski
                    </div>
                    <br />
                    <div class="sub-title font-weight-500">
                      Project Manager | Project Spire
                    </div>
                    <p>
                      Despite a six-month delay mainly due to Covid 19, we were
                      able to bring the project back on track and achieve our
                      customer handover commitments by using Arena app on the
                      construction site.
                    </p>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-md-6 p-lg-5 py-3 pt-lg-0">
                <div class="d-flex">
                  <div class="astrophy m-2 m-lg-3">
                    <img src="assets/quote.png" alt="quote-ping" width="29" height="26" viewbox="0 0 29 26"
                      fill="none" />
                  </div>
                  <div class="pr-3">
                    <div class="title font-weight-bold font-medium">
                      John Miller
                    </div>
                    <br />
                    <div class="sub-title font-weight-500">
                      Construction Operations | Project Spectra
                    </div>
                    <p>
                      Work may not completely cease if there is no cement or
                      steel, but it is impossible to work without mobile phones.
                      All teams have now adapted to mobile and they get engaged
                      with in-app notifications.
                    </p>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-md-6 p-lg-5 py-3 pt-lg-0">
                <div class="d-flex">
                  <div class="astrophy m-2 m-lg-3">
                    <img src="assets/quote.png" alt="quote-ping" width="29" height="24" viewbox="0 0 29 26"
                      fill="none" />
                  </div>
                  <div class="pr-3">
                    <div class="title font-weight-bold font-medium">
                      Richard Gellar
                    </div>
                    <br />
                    <div class="sub-title font-weight-500">
                      Project Manager | Project Springs
                    </div>
                    <p>
                      I had to work from home due to Covid 19 , restrictions and
                      yet managed the construction site work with the help of
                      Inncircles Arena app.
                    </p>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="col-md-6 p-lg-5 py-3 pt-lg-0">
                <div class="d-flex">
                  <div class="astrophy m-2 m-lg-3">
                    <img src="assets/quote.png" alt="quote-ping" width="29" height="24" viewbox="0 0 29 26"
                      fill="none" />
                  </div>
                  <div class="pr-3">
                    <div class="title font-weight-bold font-medium">
                      Jeff Brown
                    </div>
                    <br />
                    <div class="sub-title font-weight-500">
                      Project Manager | Project Lakeside
                    </div>
                    <p>
                      I have a clear understanding of the work I need to attend
                      each day and can report issues. This is really helpful..
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!--  -->
  <section id="contactus" class="testimonials-section text-primary containerr-fluid container">
    <div class="wrapper text-md-center text-start">
      <img src="assets/bg-card.svg" alt="bg-card" class="w-100 d-none d-md-block" />
      <!-- <img src="assets/bg-card-plain-sm.svg" alt="bg-card-plain-sm.svg" class="w-100 d-block d-md-none"> -->
      <!-- <img src="assets/quotes-sm.svg" alt="quotes-sm a" class="d-block d-md-none position-absolute quotes"> -->
      <div class="position-absolute w-100 pt-md-5">
        <p class="px-4-1 m-md-auto pb-md-3">
          Request demo to explore the digital capabilities <br /><br /><br />
          in construction management
        </p>
        <br />
        <div class="d-flex justify-content-md-center align-items-center w-75 ml-4 m-md-auto">
          <button class="btn request-demo-button gradient-button rounded-4" selected (click)="generate()">
            <span class="text-white">Request Demo</span>
          </button>
          <div class="bs-example">
            <div id="myModal" class="modal fade" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-body">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" *ngfor="hideDialog">
                        &times;
                      </button>
                    </div>
                    <div class="box-card " style="margin-bottom: 4rem;">
                      <h2 class="modal-title">Application Form</h2>

                      <form action="user-details.html">
                        <!-- <span class="top-close">&times;</span> -->
                        <label for="fname">Fist name:</label>
                        <input type="text" id="fname" name="first_name" placeholder="first name" size="15" />
                        <label for="Mname">Middle name:</label>
                        <input type="text" id="Mname" name="Middel name" placeholder="Middle name" size="15" />
                        <label for="L name">Last name:</label>
                        <input type="text" id="Lname" name="Last name" placeholder="Last name" size="15" />
                        <br /><br />
                        <label>Gender:</label>
                        <input type="checkbox" name="Male" value="on" />Male
                        <input type="checkbox" name="Female" value="on" />Female
                        <br /><br />
                        <label>Courses:</label>
                        <select>
                          <option value="Course">course</option>
                          <option value="Diploma">Diploma</option>
                          <option value="B Tech">B Tech</option>
                          <option value="M.Tech">M.Tech</option>
                          <option value="P.h.D">P.h.D</option>
                        </select>
                        <br /><br />
                        <label>Address:</label><br /><br />
                        <label>House No:</label>
                        <input type="text" name="House No" placeholder="1-1-12" />
                        <label>Village</label>
                        <input type="text" name="Village" placeholder="ex.village" />
                        <label>street name</label>
                        <input type="text" name="Street name" placeholder="street.ex" />
                        <label>Pincode</label>
                        <input type="Number" name="Pincode" placeholder="1*1*1*" /><br /><br />
                        <label>District:</label>
                        <input type="text" name="District" placeholder="District" />
                        <label>state:</label>
                        <select>
                          <option value="Choose">Choose</option>
                          <option value="Andhra Pradesh">Andhra Pradesh</option>
                          <option value="Telangana">Telangana</option>
                        </select>
                        <label>Country:</label>
                        <input type="text" name="Country" placeholder="******" /><br /><br />
                        <label>E Mail Id:</label>
                        <input type="text" name="EMailId" placeholder="****@gmailcom" /> <br>
                        <label>Pass Word:</label>
                        <input type="text" name="Pass Word" placeholder="******" />
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--  -->

    <!--  -->


    <!-- <div class="profile-card ">
      <button id="myBtn" class="w-75">click button</button>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Something should be type here...</p>
        </div>
      </div>
      <script>
        var modal = document.getElementById("myModal");

        var btn = document.getElementById("myBtn");

        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}


      </script>
    </div> -->
    <!--  -->
  </section>
  <footer class="footer text-primary">
    <div class="row mx-0 p-lg-4">
      <div class="col-lg-6">
        <div>
          <img src="assets/inncircles-arena-logo-tm.png" alt="inncircles-logo" alt="a-l" />
          <p class="last-one my-2 font-weight-bold">
            A SAAS PRODUCT FOR GENERAL CONTRACTORS | BUILDERS | SUB CONTRACTORS
          </p>
        </div>
        <div class="row">
          <div class="play-store d-flex pt-lg-2">
            <a href="https://apps.apple.com/in/app/inncircles-arena/id1601799923" target="_blank">
              <button class="apple-store btn" style="margin-right: 1rem">
                <img src="assets/apple-store.png" alt="apple-store" class="mr-1" width="25" height="22" />
                Apple-store
              </button>
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.inncircles.arena.classic" target="_blank">
              <button class="android-store btn">
                <img src="assets/android-store.png" alt="apple-store-icon" class="mr-1" width="25" height="22" />
                Play Store
              </button>
            </a>
          </div>
        </div>
        <!--  -->
        <div class="pt-4">
          <h4 class="footer-content">
            <span class="gradient-text">CONTACT US</span>
          </h4>
          <div class="font-weight-500">
            <div>Call us on</div>
            <div>+195290002042</div>
            <div class="row">
              <div class="col-md-6">
                <div class="mt-3">Email us on</div>
                <div>info@inncircles.com</div>
              </div>

              <!--  -->
              <div class="col-md-6">
                <div class="mt-3" style="font-family: Poppins, sans-serif">
                  Connect with us on
                </div>
                <div class="social-icons ">
                  <a href="https://twitter.com/inncircles" target="_blank">
                    <span class="logo mb-2">
                      <img src="assets/twitter.png" alt="twitter-logo" width="22" height="19" viewbox="0 0 22 19"
                        fill="none" style="margin-right: 1rem" />
                    </span> </a>&emsp;
                  <a href="https://www.facebook.com/inncircles">
                    <span class="logo mb-2">
                      <img src="assets/fb.png" alt="fb-logo" width="22" height="19" viewbox="0 0 22 19" fill="none"
                        style="margin-right: 1rem" />
                    </span> </a>&emsp;
                  <a href="https://www.linkedin.com/company/inncirclesarena/">
                    <span class="logo mb-2">
                      <img src="assets/linkd-in.png" alt="linkd-in-logo" width="22" height="19" viewbox="0 0 22 19"
                        fill="none" style="margin-right: 1rem" />
                    </span> </a>&emsp;
                  <a href="https://www.instagram.com/inncirclestechnologies/">
                    <span class="logo mb-2">
                      <img src="assets/insta.png" alt="insta-logo" width="22" height="19" viewbox="0 0 22 19"
                        fill="none" style="margin-right: 1rem" />
                    </span>
                  </a>
                  <br /><br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6">
            <div class="footer-sub h-100">
              <h4 class="footer-content">
                <span class="gradient-text">SITEMAP</span>
              </h4>
              <div class="custom-dropdown font-weight-500 ul-list h-100">
                <ul class="mx-0 footer-nav px-0 cursor-pointer font-weight-500">
                  <a>
                    <li class="custom-dropdown">Home</li>
                  </a>
                  <a>
                    <li class="custom-dropdown">Products</li>
                  </a>
                  <a>
                    <li class="custom-dropdown">Impact</li>
                  </a>
                  <a>
                    <li class="custom-dropdown">Contact Us</li>
                  </a>
                  <a>
                    <li class="cursor-pointer custom-dropdown" target="_blank">
                      Privacy Policy
                    </li>
                  </a>
                </ul>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="col-md-6 col-lg-6 pt-2 pt-lg-0">
            <h4 class="footer-content">
              <span class="gradient-text">ADDRESS</span>
            </h4>
            <p class="pt-0 footer-last">
              USA <br />16192, Coastal Highway, Lewes, Delaware, 19958
            </p>
            <hr style="opacity: 1.4" />
            <p class="footer-last">
              UK <br />
              124, City Road, London, EC1V 2NX
            </p>
            <hr style="opacity: 1.4" />
            <p class="footer-last">
              INDIA <br />TOWER Unit-2 Ground Floor, Gachibowli, Hyderabad,
              Telangana 500032
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr class="mx-0" />
    <div class="text-center pb-5 pb-md-0 mb-3 mb-md-0">
      <div class="copyright font-small footer-last pt-1">
        © 2022 Inncircles. All Rights Reserved.
      </div>
    </div>
  </footer>
  <!-- scrollbar -->
  <div class="scrollbar-track scrollbar-track-x" style="display: none">
    <div class="scrollbar-thumb-x" style="width: 1280px; transform: translate3d(0px, 0px, 0px)"></div>
  </div>
  <div class="scrollbar-track scrollbar-track-y" style="display: block">
    <div class="scrollbar-thumb scrollbar-thumb-y" style="height: 100%; transform: translate(0px 121.733, 0px)"></div>
  </div>
  <!--  -->
  <!--  -->
</main>